*{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.btn-outline {
    border-color: #fa6f1c;
    color: #fa6f1c;
  }
  
  .btn-outline:hover {
    background-color: #fa6f1c; 
    color: #fff; 
  }
  .div1{
    width: 100% !important;
    height: 220px !important;
    position: relative;
    background: url(https://themes.wplook.com/html/charity/assets/images/temp/main-image-1.jpg)
      no-repeat;
    background-position: center !important;
    background-size: cover !important;
  }
  .text{
    position: absolute;
    top: 4em;
    padding: 2em;
  }
  .display{
    background-color: #fa6f1c;
  }
  .start{
    background-color: rgb(238, 238, 238);
  }
  .butn{
    background-color: #3a559f;
    color: #fff;
    border: none;
  }
  
