*{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.btn-outline {
    border-color: #fa6f1c;
    color: #fa6f1c;
  }
  
  .btn-outline:hover {
    background-color: #fa6f1c; 
    color: #fff; 
  }
  .btn-outline-1{
    border-color: #fff;
    color: #fff;
  }

  .butn{
    background-color: #3a559f;
    color: #fff;
    border: none;
  }
  @media (max-width: 515px){
    .h1{
     font-size: 12px;
    }
    .px-3{
      font-size: 10px;
    }
  }